<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>LoginPage</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content=""
	/>

	<!-- Custom-Files -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  	<link rel="stylesheet" href="/css/adminstyle.css" />

	<!-- Main css -->
	<link rel="stylesheet" href="/css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="/css/menu.css" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web fonts -->

</head>

<style>
    .container{
        padding: 1.5em;
    }
    h2{
       margin-bottom: 12px;
    }

    .home {
        padding: 1em;
    }
</style>

<body>

    <div class="container">

        <h2>Login</h2>

        <form method="POST" action="/user/login">
            
            <div class="form-group">
                <label for="Username">Email</label>
                <input type="text" name="email" class="form-control" placeholder="email">
            </div>

            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>

        </form><br/>

        <span>
            You are not a registered user yet ? pls click here <a class="vd" href="/user/register">Register</a>
        </span>

    </div>
</body>
</html>